---
- name: Deploy calculator app to Kubernetes
  hosts: k8s_master
  become: true
  tasks:
    - name: Copy Kubernetes manifests
      ansible.builtin.copy:
        src: ../../k8s/
        dest: /tmp/calc-k8s/
        mode: '0644'

    - name: Apply manifests
      ansible.builtin.shell: kubectl apply -k /tmp/calc-k8s
      environment:
        KUBECONFIG: /etc/kubernetes/admin.conf
